*{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 246, 250);
}

header{
    background-color: rgba(36, 36, 36, 0.973);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerh1{
    color: rgb(0, 219, 29);
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 20px;
    background-color: transparent;
}

.apresentacao{
    display: flex;
    justify-content: space-evenly;
}
.nomes{
    margin-top: 300px;
    padding: 80px;
    background-color: aqua;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
#nomesWillemberg{
    background-color: rgb(127, 255, 234);
}